.metro-calendar input {
  box-sizing: border-box;
  font-family: 'microsoft yahei';
}
.metro-calendar .input-control.text [class*="btn-"] {
  background-color: transparent;
}
.metro-calendar .btn-date {
  font-size: 14px;
  line-height: 16px;
}
.metro-calendar .input-control.text .btn-date {
  background-color: transparent;
  position: absolute;
  top: 5px;
  box-sizing: border-box;
  z-index: 2;
  border: 0;
  right: 4px;
  width: 24px;
  height: 24px;
  min-height: 1px;
  min-width: 1px;
  padding: 5px;
  margin: 0;
  display: block;
  text-align: center;
  color: #222;
  cursor: pointer;
  font-size: 14px;
}
.metro-calendar button {
  padding: 4px 12px;
  text-align: center;
  vertical-align: middle !important;
  background-color: #d9d9d9;
  border: 1px transparent solid;
  color: #222222;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  outline: none;
  font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 16px;
}
.metro-calendar button:before {
  content: "\e013";
  font-family: metroSysIcons;
  font-size: 1em;
}
.metro-calendar .input-control.text input {
  border: 1px #d9d9d9 solid;
  width: 100%;
  height: 100%;
  padding: 5px;
  z-index: 1;
  -webkit-appearance: none;
}
.metro-calendar .input-control.text {
  display: inline-block;
  cursor: pointer;
  position: relative;
  background-color: #fff;
  outline: 0;
  height: 34px;
  width: 100%;
}
.metro-calendar .calendar-dropdown {
  border: 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3), 0 3px 8px rgba(0, 0, 0, 0.2);
}
.metro-calendar .text-center {
  text-align: center;
}
.metro-calendar .calendar {
  width: 250px;
  border: 1px #eeeeee solid;
  font-size: 10pt;
}
.metro-calendar .calendar a,
.metro-calendar .calendar .metro .link {
  color: #2e92cf;
  text-decoration: none;
}
.metro-calendar .calendar table {
  width: 100%;
  border-collapse: collapse;
}
.metro-calendar .calendar td,
.metro-calendar .calendar th {
  padding: 0;
  width: 14.28%;
}
.metro-calendar .calendar td {
  border: 1px  solid;
  border-color: #e6f5fc;
}
.metro-calendar .calendar td:first-child {
  border-left: 0;
}
.metro-calendar .calendar td:last-child {
  border-right: 0;
}
.metro-calendar .calendar tr:last-child td {
  border-bottom: 0;
}
.metro-calendar .calendar .day-of-week {
  padding: 5px;
  cursor: default;
}
.metro-calendar .calendar a {
  display: block;
  padding: 5px;
}
.metro-calendar .calendar a:hover {
  background-color: #eeeeee;
  color: #1d1d1d;
}
.metro-calendar .calendar .calendar-header {
  background-color: #1ba1e2;
  color: #ffffff;
}
.metro-calendar .calendar .calendar-header td,
.metro-calendar .calendar .calendar-header th {
  border: 0 !important;
}
.metro-calendar .calendar .calendar-header td a,
.metro-calendar .calendar .calendar-header th a {
  color: #ffffff;
}
.metro-calendar .calendar .calendar-header td a:hover,
.metro-calendar .calendar .calendar-header th a:hover {
  background-color: #1ba1e2;
  color: #ffffff;
}
.metro-calendar .calendar .calendar-actions td,
.metro-calendar .calendar .calendar-actions th {
  padding: 10px;
}
.metro-calendar .calendar .today a {
  background-color: #a0e857;
  color: #1d1d1d;
}
.metro-calendar .calendar .today a:hover {
  background-color: #128023;
  color: #ffffff;
}
.metro-calendar .calendar .day a {
  display: block;
  position: relative;
  border: 1px transparent solid;
}
.metro-calendar .calendar .day a.selected {
  border: 1px #4390df solid;
}
.metro-calendar .calendar .day a.selected:after {
  border-top-width: 12px;
  border-left-width: 12px;
  position: absolute;
  display: block;
  right: 0;
  content: "";
  top: 0;
  z-index: 101;
}
.metro-calendar .calendar .day a.selected:before {
  font-size: 4pt;
  position: absolute;
  display: block;
  content: "\e003";
  color: #fff;
  right: 0;
  font-family: 'metroSysIcons';
  font-weight: normal;
  z-index: 102;
  top: 0;
}
.metro-calendar .calendar .month a,
.metro-calendar .calendar .year a {
  padding-top: 20px;
  padding-bottom: 20px;
}
.metro-calendar .calendar .other-day {
  display: block;
  text-align: center;
  color: #999999;
}
.metro-calendar .calendar-dropdown {
  border: 0;
}
